@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}
.btn-bg {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  color: rgba(0, 0, 0, 0.486);
  display: block;
}

.btn-bg:hover {
  background-position: right center; /* change the direction of the change here */
  color: #050404d2;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.border-gradient {
  border: 21.24px solid;
  border-image-source: linear-gradient(
      309.44deg,
      #0029ff 0%,
      rgba(0, 41, 255, 0) 50%
    ),
    linear-gradient(132.37deg, #ff0000 -6.93%, rgba(255, 0, 0, 0) 45.82%);
}
