@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-bg {
  background: white;
  text-align: center;
  color: #8ac919;
  outline: none;
  border: 1px solid #8ac919;
}

.btn-bg:hover {
  background: #8ac919;
  border: 1px solid #ffff; /* change the direction of the change here */
  color: #ffff;
  text-decoration: none;
}
.border-gradient {
  border: 21.24px solid;
  border-image-source: linear-gradient(
      309.44deg,
      #0029ff 0%,
      rgba(0, 41, 255, 0) 50%
    ),
    linear-gradient(132.37deg, #ff0000 -6.93%, rgba(255, 0, 0, 0) 45.82%);
}
